/* Footer */
footer {
  background-color: #2b3c25;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  color: #f5f8f2;
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
}

.company-name {
  font-weight: bold;
  font-size: 1.2em;
}

.footer-left p {
  margin: 0;
  font-weight: bold;
}

.footer-left .copyright {
  font-size: 12px;
}

.footer-left .privacy-terms {
  font-size: 12px;
}
  
.footer-middle p,
.footer-right p {
  font-weight: bold;
  color: #f5f8f2;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-decoration: none; /* Fjerner understregning */
}

.footer-middle ul,
.footer-right ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-middle ul li,
.footer-right ul li {
  margin-bottom: 5px;
}

.footer-middle ul li a,
.footer-right ul li a {
  color: #f5f8f2;
  text-decoration: none; /* Fjerner understregning */
}

/* .footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 20px;
} */
  
  